services:
  db:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:7
    container_name: redis-aof
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  # web:
  #   build: .
  #   ports:
  #     - "9999:9999"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - db
  #     - redis

volumes:
  postgres_data:
  redis-data:
networks:
  sdshop-network:
    driver: bridge
